<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <img src="assets/logo.png" alt="INDIRA" class="logo-image" />
    </div>
    <ul class="nav-menu">
      <li><a routerLink="/" class="nav-link" fragment="home">Home</a></li>
      <li><a routerLink="/" class="nav-link" fragment="about">Over</a></li>
      <li><a routerLink="/" class="nav-link" fragment="classes">Lessen</a></li>
      <li><a routerLink="/" class="nav-link" fragment="schedule">Schema</a></li>
      <li><a routerLink="/" class="nav-link" fragment="contact">Contact</a></li>
    </ul>
  </div>
</nav>
